<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="AzureFormRecognizerKey" value="your azure key for document intelligence"/>
		<add key="AzureFormRecognizerEndpoint" value="your azure endpoint to document intelligence"/>
		<add key="InitPictureBox" value="ico\Icon.JPG"/>
	</appSettings>
</configuration>